/* 선택자(selector) */

*{ /* *는 모든 태그를 의미 */
    box-sizing: border-box;
}
#header-center {
margin: 0 auto;
width: 1080px
}

#header-search > a> h1 { /* 자식 */
    width: 198px;
    height: 48px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -4px -10px;
    text-indent: 101%;
    overflow: hidden;

}

#header-search > a {
  text-decoration: none;
  vertical-align: middle;
}

#header-search fieldset{
    margin-left: 20px;
    padding: 12px 0px 12px 10px; /*위 오른쪽 아래 왼쪽 */
    border: 2px solid #03cf5d;
    width: 521px;
    height: 49px;
    display: inline-block;
     /* box-sizing: border-box; border-box는 content랑 padding을 합친 width */
     vertical-align: middle;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
}
#header-search fieldset button {
    width:49px;
    height:49px;
    border:none;
    padding: 0;
    background: #03cf5d;

    
}
#search-image {
    background-image: url(./sp_search.png);
    background-position: -3px -59px;
    background-repeat: no-repeat;
    width:21px;
    height:21px;
    display: inline-block;
    /*span은 기본적으로 display: inline인데 inline은 가로 세로 고정이여서 바꿀 수 없기 때문에 inline-block을 사용한다.*/
    margin: 14px;
}

/* #header-center h1 { 
 자손 선택자
} */

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

